body {
  font-family: Arial;
  background: #eef5ee;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #2e7d32;
  color: white;
  border: none;
}

input {
  width: 100%;
  padding: 8px;
}
